
@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in ViewBag.Categories)
        {
            <tr>
                <td>@c.CategoryId</td>
                <td>@c.CategoryName</td>
            </tr>
        }
    </tbody>
</table>
