
@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<table class="table border">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in ViewBag.Categories)
        {
            <tr>
                <td scope="row">@c.CategoryId</td>
                <td scope="row">@c.CategoryName</td>
            </tr>
        }
    </tbody>
</table>
