
@{
    ViewBag.Title = "Goods";
    
}

    <h2>Goods</h2>

<table class="table border">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Good count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in ViewBag.Goods)
        {
        <tr>
            <td scope="row">@c.GoodId</td>
            <td scope="row">@c.GoodName</td>
            <td scope="row">@c.Price</td>
            <td scope="row">@c.GoodCount</td>
        </tr>
        }
    </tbody>
</table>