
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <main>
        <nav>
            <a href="~/Home/Index">Index</a>
            <a href="~/Home/Manufacturers">Manufacturers</a>
            <a href="~/Home/Categories">Categories</a>
            <a href="~/Home/Goods">Goods</a>
        </nav>
    </main>
</body>
</html>
