
@{
    ViewBag.Title = "Manufacturers";
}

    <h2>Manufacturers</h2>

<table class="table border">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Manufacturer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in ViewBag.Manufacturers)
        {
            <tr>
                <td scope="row">@c.ManufacturerId</td>
                <td scope="row">@c.ManufacturerName</td>
            </tr>
        }
    </tbody>
</table>